@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700');
/*Color Scheme One*/
/*#333333
#555555
#B3B6B7
#EEE5E9
#d34848*/

/*Color Scheme Two*/
/*#d34848
#555555
#9A9D9E
#A7A9AA
#CCC7c7
#dddBDB*/

body{
  background-color: #CCC7c7;
  width: 100%;
}

.logo {
  width: 130px;
}

main{
  font-family: "Ubuntu", sans-serif;
  color: #A7A9AA;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1250px;
}

.nav{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 140px;
  background-color: #444444;
}

.card{
  text-align: left;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
  font-family: "Ubuntu", sans-serif;
  width: 280px;
  min-height: 390px;
  background-color: #dddBDB;
  box-shadow: 0px 0px 10px #666666;
}

.card-top{
  width: 100%;
  height: 140px;
  background-size: cover;
  margin-bottom: 13px;
}

.card-content{
  color: #555555;
}

.card-content p{
  color: #9A9D9E;
  font-size: 12px;
  margin-top: 1px;
  margin-left: 10px;
  margin-bottom: 16px;
}

div{
  padding: 0px;
  margin: 0px;
  vertical-align: middle;
  justify-content: center;
  font-weight: 300;
}

div img{
  vertical-align: bottom;
  justify-content: center;
  width: 20px;
}

.card-top img{
  display: inline-block;
  margin-top: 13px;
  margin-left: 10px;
  width: 20%;
}

.link{
  display: flex;
  justify-content: left;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 260px;
  height: auto;
  min-height: 50px;
  background-color: #CCC7c7;
  hyphens: auto;
  word-break: break-word;

}


.views{
  position: relative;
  float: right;
  margin-top: 13px;
  margin-right: 10px;
  align-content: right;
  text-align: center;
  color: #dddBDB;
  display: inline-block;
  font-size: 12px;
  background-blend-mode: none;
  -webkit-background-blend-mode: none, none;
}

.bg-global{
  background-color: rgba(155,155,155,1);
  -webkit-background-size: cover;
  background-size: cover;
  background-blend-mode: multiply;
  -webkit-background-blend-mode: multiply, multiply;
}

#header1{
  background-image: url("images/stormtrooper1.png");
}

#header2{
background-image: url("images/stormtrooper2.jpg");
}

#header3{
  background-image: url("images/stormtrooper3.jpg");
}

#header4{
  background-image: url("images/stormtrooper4.jpg");
}

#header5{
  background-image: url("images/stormtrooper5.jpeg");
}

#header6{
  background-image: url("images/stormtrooper6.jpg");
}

#header7{
  background-image: url("images/stromtrooper7.jpg");
}

#header8{
  background-image: url("images/stormtrooper8.jpg");
}

a{
  color: #9A9D9E;
  text-decoration: none;
  font-size: 13px;
  margin-left: 15px;
  margin-top: 10px;
  margin-right: 15px;
  margin-bottom: 10px;
  hyphens: auto;
}
a:hover{
  color: #555555;
  text-decoration: underline;
}

h1{
  font-size: 26px;
  text-align: left;
  margin-left: 20px;
  color: #555555;
}

h2{
  margin-top: 2px;
  font-size: 34px;
  font-weight: 300;
}

h3{
  font-size: 17px;
  font-weight: 300;
  margin-top: 0px;
  margin-left: 10px;
  margin-bottom: 1px;
}

h4{
  font-weight: 300;
  margin: 0px;
  font-size: 13px;
}

.titles{
  font-size: 12px;
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 3px;
}

.attach{
  margin-top: 0px;
  margin-left: 12px;
  font-size: 34px;
  color: #d34848;
}

ul{
  padding: 0px;
  margin: 0px;

}
ul img{
  vertical-align: middle;
  width: 22px;
  justify-content: center;
}

.admin-large{
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 16px;
  display: none;
  text-align: center;
  color: #d34848;
}

.admin-small{
  margin-top: 10px;
  margin-bottom: 5px;
  display: inline-block;
  text-align: center;
  color: #d34848;
}

.admin-large p {
  font-size: 14px;
  margin: 0px;
}

.admin-small p {
  font-size: 14px;
  margin: 0px;
}

li{
  display: inline-block;
  text-align: center;
  color: #A7A9AA;
  margin-top: 15px;
  margin-left: 0px;
  margin-right: 10px;
  font-size: 10px;
}
li:last-child{
  margin-right:0px;
}

#nav-active{
  color: #dddBDB;
}

br{
  display: none;
}

@media screen and (min-width: 550px) {

  .logo {
    width: 180px;
  }

  .nav{
    height: 140px;
  }

  div img{
    width: 20px;
  }

  .card-top img{
    margin-left: 10px;
    width: 20%;
  }

  h1{
    font-size: 26px;
    text-align: left;
    margin-left: 20px;
    color: #555555;
  }

  ul{

    justify-content: space-around;
  }

  ul img{
    vertical-align: middle;
    width: 32px;
    justify-content: center;
  }

  #admin{
    /*font-size: 16px;*/
  }

  #admin p{
    font-size: 18px;
  }

  #large{
    display: none;
  }

  li{
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 50px;
    font-size: 16px;
  }
  li:last-child{
    margin-right:0px;
  }

}

@media screen and (min-width: 768px){
  body{
    background-color: #CCC7c7;
    width: 100%;
  }

  .logo {
    position: relative;
    display: inline-block;
    float: right;
    margin-top: 45px;
    margin-right: 20px;
    width: 170px;
  }

  .nav{
    /*flex-direction: column-reverse;*/
    justify-content: none;
    align-items: none;
    display: inline-block;
    width: 100%;
    height: 140px;
    background-color: #444444;
  }

  a{
    color: #9A9D9E;
    text-decoration: none;
    font-size: 13px;
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    hyphens: auto;
  }
  a:hover{
    color: #555555;
    text-decoration: underline;
  }

  h1{
    font-size: 26px;
    text-align: left;
    margin-left: 20px;
    color: #555555;
  }

  h2{
    margin-top: 2px;
    font-size: 34px;
    font-weight: 300;
  }

  h3{
    font-size: 17px;
    font-weight: 300;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 1px;
  }

  h4{
    font-weight: 300;
    margin: 0px;
    font-size: 13px;
  }

  ul{
    display: inline-block;
    width: 500px;
    padding: 0px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 0px;
    margin-bottom: 0px;

  }
  ul img{
    vertical-align: middle;
    width: 30px;
    justify-content: center;
  }

  .admin-large{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 20px;
    font-size: 16px;
    display: block;
    text-align: right;
    color: #d34848;
  }

  .admin-small{
    display: none;
  }

  .admin-large p {
    font-size: 14px;
    margin: 0px;
  }

  div{
    padding: 0px;
    margin: 0px;
    vertical-align: none;
    justify-content: none;
    font-weight: 300;
  }

  div img{
    vertical-align: bottom;
    justify-content: center;
    width: 22px;
  }

  li{
    display: inline-block;
    text-align: center;
    color: #A7A9AA;
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 10px;
    font-size: 14px;
  }
  li:last-child{
    margin-right:0px;
  }
}
