@import url('https://fonts.googleapis.com/css?family=Exo+2:400,600,700|Ubuntu:300,400');
/*Color Scheme One*/
/*#333333
#555555
#B3B6B7
#EEE5E9
#d34848*/

/*Color Scheme Two*/
/*#d34848
#555555
#A7A9AA
#CCC7c7
#dddBDB*/

body{
  background-color: #CCC7c7;
  width: 100%;
}

header{
}

header img {
  width: 30%;
}

main{
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: #444444;
}

.card{
  text-align: left;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: "Ubuntu", sans-serif;
  width: 300px;
  min-height: 380px;
  background-color: #dddBDB;
}

ul{
  padding: 0px;
  margin: 0px;

}
ul img{
  vertical-align: middle;
  width: 22px;
  justify-content: center;
}

li{
  display: inline-block;
  color: #A7A9AA;
  margin-top: 15px;
  margin-left: 0px;
  font-size: 11px;
}

#nav-active{
  color: #dddBDB;
}
