@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700');

/*----Universal----*/
*{
  font-family: "Ubuntu", sans-serif;
}

/*----Structure/Box Model-----*/

body{
  background-color: #CCC7c7;
  width: 100%;
}

header{
  background-color: #444444;
  width: 100%;
}

main{
  align-content: center;
  align-items: center;
  color: #A7A9AA;
  height: auto;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1250px;
  text-align: center;
}

.nav{
  align-items: center;
  background-color: #444444;
  display: flex;
  flex-direction: column-reverse;
  height: 140px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1250px;
  width: 100%;
}

.card{
  background-color: #dddBDB;
  box-shadow: 0px 0px 10px #666666;
  display: inline-block;
  font-family: "Ubuntu", sans-serif;
  margin: 7px 10px 7px 10px;
  min-height: 400px;
  text-align: left;
  width: 280px;
}

.card-top{
  background-size: cover;
  height: 140px;
  margin-bottom: 13px;
  width: 100%;
}

.card-content{
  color: #555555;
}

div{
  font-weight: 300;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
}

.link{
  align-content: center;
  background-color: #CCC7c7;
  display: flex;
  height: auto;
  justify-content: left;
  margin-left: auto;
  margin-right: auto;
  min-height: 50px;
  width: 260px;
  word-break: break-word;
}

.views{
  align-content: right;
  color: #dddBDB;
  display: inline-block;
  float: right;
  font-size: 12px;
  margin: 13px 10px 0px 0px;
  position: relative;
  text-align: center;
}

/*-------Header Styling------*/
.bg-global{
  background-blend-mode: multiply;
  padding: none;
  background-color: rgba(155,155,155,1);
  background-size: cover;
  -webkit-background-blend-mode: multiply, multiply;
  -webkit-background-size: cover;
}

#header1{
  background-image: url("images/stormtrooper1.png");
}

#header2{
  background-image: url("images/stormtrooper2.jpg");
}

#header3{
  background-image: url("images/stormtrooper3.jpg");
}

#header4{
  background-image: url("images/stormtrooper4.jpg");
}

#header5{
  background-image: url("images/stormtrooper5.jpeg");
}

#header6{
  background-image: url("images/stormtrooper6.jpg");
}

#header7{
  background-image: url("images/stromtrooper7.jpg");
}

#header8{
  background-image: url("images/stormtrooper8.jpg");
}

/*-----Text Styling------*/
a{
  color: #9A9D9E;
  font-size: 13px;
  hyphens: auto;
  margin: 10px 15px 10px 15px;
  text-decoration: none;
}
a:hover{
  color: #555555;
  text-decoration: underline;
}

h1{
  color: #555555;
  font-size: 26px;
  margin-left: 20px;
  text-align: left;
}

h2{
  font-size: 34px;
  font-weight: 300;
  margin-top: 2px;
}

h3{
  font-size: 17px;
  font-weight: 300;
  margin: 0px 0px 1px 10px;
}

h4{
  font-size: 13px;
  font-weight: 300;
  margin: 0px;
}

.titles{
  font-size: 12px;
  margin: 15px 0px 3px 10px;
}

.attach{
  color: #d34848;
  font-size: 34px;
  margin: 0px 0px 0px 12px;
}

.card-content p{
  color: #9A9D9E;
  font-size: 12px;
  margin: 1px 0px 16px 10px;
}

ul{
  margin: 0px;
  padding: 0px;
}

li{
  color: #A7A9AA;
  display: inline-block;
  font-size: 10px;
  margin: 15px 10px 0px 0px;
  text-align: center;
}

li:last-child{
  margin-right:0px;
}

/*------Image Styling-----*/
ul img{
  justify-content: center;
  width: 22px;
  vertical-align: middle;
}

.logo {
  width: 130px;
}

.admin-large{
  display: none;
}

.admin-small{
  color: #d34848;
  display: inline-block;
  margin: 10px 0px 5px 0px;
  text-align: center;
}

.admin-large p, .admin-small p {
  font-size: 14px;
  margin: 0px;
}

div img{
  justify-content: center;
  width: 20px;
  vertical-align: bottom;
}

.card-top img{
  display: inline-block;
  margin: 13px 0px 0px 10px;
  width: 20%;
}

#nav-active{
  color: #dddBDB;
}

br{
  display: none;
}

@media screen and (min-width: 550px) {

  .nav{
    height: 140px;
  }

  li{
    font-size: 16px;
    margin: 15px 50px 0px 0px;
  }

  li:last-child{
    margin-right:0px;
  }

  div img{
    width: 20px;
  }

  .card-top img{
    margin-left: 10px;
    width: 20%;
  }

  ul img{
      justify-content: center;
      width: 32px;
    vertical-align: middle;
  }

  .logo {
    width: 180px;
  }
}

@media screen and (min-width: 768px){

  header{
    display: block;
    width: 100%;
  }

  .nav{
    display: block;
    height: 150px;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
  }

  h1{
    font-size: 35px;
  }

  ul{
    display: inline-block;
    margin: 50px 0px 0px 25px;
    width: 540px;
  }
  ul img{
    width: 40px;
  }

  li{
    font-size: 17px;
    margin: 15px 40px 0px 0px;
  }

  .admin-large{
    color: #d34848;
    display: block;
    font-size: 16px;
    margin: 0px 25px 5px 0px;
    text-align: right;
  }

  .admin-small{
    display: none;
  }

  .admin-large p {
    font-size: 18px;
  }

  .logo {
    display: inline-block;
    float: right;
    margin: 45px 25px 0px 0px;
    position: relative;
    width: 170px;
  }

  div img{
    width: 26px;
  }


}
